<nav class="container my-5 d-flex justify-content-around align-items-center bg-light">
    <a class="text-decoration-none fs-1" href="/">🖼️</a>
    <a class="text-decoration-none text-muted fs-4" href="/">Show Gallery</a>
    <a class="text-decoration-none opacity-50 fs-1" href="/add">➕</a>
    
</nav>